html, body {
    background-color: pink;
    background: url('./images/img_ihatetomatoes.png') center center no-repeat;

    p {
        color: green;
    }

    h1 {
        font-size: 22px;
    }
}
