<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>Content goes here... And Other things</p>
        <p>Testing Project......</p>

        <div id="root"></div>

        <img src=<%= require("./images/html5.png")%> >
    </body>
</html>
